# Frontend AngularJS
frontend/node_modules
frontend/package-lock.json
frontend/build

# Backend
# - NodeJS
backend/rest/package-lock.json
backend/rest/node_modules
backend/rest/credentials/credentials.js

# - GraphQL
backend/graphql/package-lock.json
backend/graphql/node_modules
backend/graphql/credentials/credentials.js