<style>
    .container4 {
        margin: 20px;
        display: flex;
        flex-direction: row-reverse;
    }

    .service {
        padding: 40px 25px;
        display: flex;
        min-height: 400px;
        align-items: center;
        flex-direction: column;
        width: 30%;
        text-align: center;
        border-radius: 20px;
        border: 1px solid #0000002e;
        margin: 3%;
        justify-content: space-between;
        transition: 0.3s border;
        }

    .service:hover {
        border-top: 4px solid #2a96f4;
    }

    .service h4 {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px
    }

    .service .button {
        padding: 10px;
        border: 1px solid #2a96f4;
        border-radius: 15px;
        cursor: pointer;
        color: #2a96f4;
    }

    .service .button:hover {
        background-color: #2a96f4;
        color: white;
    }

    .service h2 {
        font-size: 2.5rem;
        font-family: 'Open Sans', sans-serif;
        color: #707070;
        margin-bottom: 36px;
    }

    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }

    .title p {
        font-size: 1.25rem;
        font-weight: 300;
    }

</style>

<div class="title">
    <h1 class="logo-font">Podemos instalarlo por ti</h1>
    <p>Si no tienes suficientes conocimientos para instalar facturascripts nosotros te lo instalamos con hosting personalizado, estos son nuestros precios.</p>
</div>

<div class="container4">
    <div class="service" ng-repeat="service in $ctrl.services">
        <h4 class="name">{{service.title}}</h4>
        <div class="content">
            <!-- <h2>{{service.price}}</h2> -->
            <h2>{{service.price}}</h2>
            <p>{{service.description}}</p>
        </div>
        <div class="button">Seleccionar</div>
    </div>
</div>