<div style="height: 400px">
    <div uib-carousel active="active" interval="$ctrl.imgInterval" no-wrap="$ctrl.noWrapSlides">
        <div uib-slide ng-repeat="slide in $ctrl.slides track by slide.id" index="slide.id" style="height: 400px">
            <img ng-src="{{slide.image}}" class="img-fluid" style="filter: blur(2px);">
            <div style="position: absolute; color: white; z-index: 100; bottom: 50%; width: 100%;">
                <h1 class="logo-font">{{slide.titulo}}</h2>
                <h2>{{slide.text}}</h2>
            </div>
            <div class="carousel-caption" style="padding-bottom:100px;"></div>
        </div>
    </div>
</div>