:root {
    --color-app: #ffc900;
}

.navbar-brand {
    color: var(--color-app) !important;
}

a {
    color: var(--color-app);
}

.page {
    background-color: white;
    padding: 50px;
}

.button-primary {
    padding: 10px;
    border: 1px solid var(--color-app);
    border-radius: 15px;
    cursor: pointer;
    color: var(--color-app) !important;
}

.button-primary:hover {
    background-color: var(--color-app);
    color: white !important;
}

.button-secundary {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    background-color: var(--color-app);
    font-size: 17px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-secundary:hover {
    background-color: #ffffff;
    color: var(--color-app);
}

a:hover {
    color: #0074da;
}

.primary {
    background-color: var(--color-app);
}

footer {
    margin-top: 0px;
}

li.ng-scope.active {
    background-color: var(--color-app);
}

hr.space {
    margin: 45px;
}

.navbar-light .navbar-nav .open>.nav-link,
.navbar-light .navbar-nav .open>.nav-link:focus,
.navbar-light .navbar-nav .open>.nav-link:hover,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .active>.nav-link:focus,
.navbar-light .navbar-nav .active>.nav-link:hover,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.open:focus,
.navbar-light .navbar-nav .nav-link.open:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:focus,
.navbar-light .navbar-nav .nav-link.active:hover {
    color: var(--color-app) !important;
    background-color: #ffffff;
}

.img-fluid {
    width: 100%;
}

p.title {
    position: absolute;
    color: white;
    z-index: 100;
    bottom: 50%;
    width: 100%;
    font-size: 40px;
}

.title-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-logo p {
    margin: 0px;
    font-size: 26px;
}

.title-logo i {
    margin-right: 10px;
}

.navbar {
    margin: 0;
}

.nav {
    margin: 8px 0px;
}

a {
    font-weight: bold;
}

.button {
    width: 100px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-app);
    color: white !important;
    text-align: center;
    border: 1px dashed var(--color-app);
    cursor: pointer;
    padding: 5px;
    font-weight: bold;
}

.button:hover {
    background-color: white !important;
    color: var(--color-app) !important;
}

html {
    padding-bottom: 57px;
}

.toast-message {
    color: var(--color-app) !important;
    font-weight: bold;
}

.toast.toast-error {
    background: white !important;
    border-left: 3px solid var(--color-app) !important;
    opacity: 1 !important;
}

a:hover {
    color: black !important;
}

.title hr {
    background-color: var(--color-app);
    height: 2px;
    border-color: var(--color-app);
    width: 180px;
}

a {
    text-decoration: none !important;
}

.nav-item.user {
    cursor: pointer;
    position: relative;
}

.nav-item.user ul.user-list {
    position: absolute;
    z-index: 100;
    background-color: white;
    display: none;
    width: 190px;
    padding: 10px;
}

.nav-item.user ul.user-list .nav-item {
    margin: 0;
}

.nav-item.user ul.user-list .nav-item a {
    padding: 10px 10px;
}

.nav-item.user ul.user-list .nav-link.active:hover {
    background-color: white !important;
}

.nav-item.user ul.user-list .nav-item:hover {
    background-color: #eee;
}

.nav-item.user:hover>ul.user-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item.user ul.user-list li {
    list-style-type: none;
}

.logout:hover > a {
    color: red !important;
}