 <div class="customer_service-page">

  <!-- Splash banner that only shows when not logged in -->
  <div class="banner" show-authed="false">
    <div class="container">
      <h1>{{$ctrl.appName}}</h1>
      <p>Our services for sale to the public</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <!-- Main view - contains tabs & article list -->
      <div class="col-md-12">
       

        <!-- List the current articles -->
        <article-list limit="10" list-config="$ctrl.listConfig"></article-list>

      </div>

      <!-- Sidebar where popular tags are listed -->
      <!-- <div class="col-md-3">
        <div class="sidebar">

          <p>Popular Tags</p>

          <div class="tag-list" ng-show="$ctrl.tags">
            <a href="" class="tag-default tag-pill"
              ng-click="$ctrl.changeList({ type: 'all', filters: { tag: tagName } })"
              ng-repeat="tagName in $ctrl.tags"
              ng-bind="tagName">
            </a>
          </div>

          <div ng-show="!$ctrl.tagsLoaded">
            Loading tags...
          </div>

          <div class="post-preview"
            ng-show="$ctrl.tagsLoaded && !$ctrl.tags.length">
            No tags are here... yet.
          </div>

        </div>
      </div> -->

      <!-- End the row & container divs -->
    </div>
  </div>
</div>