<link rel="stylesheet" href="css/board/board.css">
<div class="board-page">
    <div class="container page">
        <popular-news news="$ctrl.popular_news"></popular-news>
        <section>
            
            <!-- PAGE -->
            <div class="left-page">
                <h4>Board</h4>
                <hr>
                <article-list prueba="$ctrl.register(childRef)" filters="$ctrl.filters"></article-list>

                <!-- <article-draw ng-if="$ctrl.articles" ng-repeat="article in $ctrl.articles" article="article"></article-draw> -->
            </div>
            
            <!-- FILTERS -->
            <div class="right-page">
                <h4>Friends</h4>
                <hr>

                <!-- SIEMPRE -->
                <div class="friends">
                    <div class="friend {{ $ctrl.filters.friends.indexOf('all') >= 0 ? 'active' : '' }}" ng-click="$ctrl.setFiltersFriends('all')">
                        <div class="all-img"><i class="fas fa-users"></i></div>
                        <h6>All the news</h6>
                    </div>
                </div>
                <div class="friends-separator">
                    <hr>
                </div>

                <!-- CONTROL -->
                <div show-authed="false" class="friends">
                    <div class="not-logged">
                        <p>Do you want to filter the news by your friends?</p>
                        <div class="button" ui-sref="app.login">Log in</div>
                    </div>
                </div>

                <div show-authed="true" class="friends">
                    <div ng-repeat="friend in $ctrl.friends" class="friend {{ $ctrl.filters.friends.indexOf(friend.username) >= 0 ? 'active' : '' }}" ng-click="$ctrl.setFiltersFriends(friend.username)">
                        <img src="{{friend.image}}" alt="">
                        <h6>@{{friend.username}}</h6>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>