<link rel="stylesheet" href="css/components/article/article-draw.css">

<div class="news">
    <div class="new">
        <header>
            <img class="profile" src="https://cdn.pixabay.com/photo/2019/11/29/21/30/girl-4662159_1280.jpg" alt="">
            <div class="text">
                <h6>Carla Gandia Benito</h6>
                <p>2020/20/18 13:27</p>
            </div>
        </header>
        <article>
            <div class="description">
                I have won a game with more than 50,000 players, it has been intense, fast and very fun, I share my victory with all of you so that you are encouraged to participate in these events, Thank you BINGO KING!!!!
            </div>
            <img class="image" src="https://cdn.pixabay.com/photo/2016/06/01/08/40/money-1428594_1280.jpg" alt="">
            <section class="social_control_post">
                <a href="/#!/article">
                    <div>
                        <p>0</p>
                        <i class="fas fa-comment"></i>
                        <!-- <p>Comments</p> -->
                    </div>
                </a>
                <div>
                    <p>0</p>
                    <i class="fas fa-heart"></i>
                    <!-- <p>Likes</p> -->
                </div>
                <div>
                    <p>0</p>
                    <i class="fas fa-heart-broken"></i>
                    <!-- <p>Dislike</p> -->
                </div>
                <div>
                    <p>0</p>
                    <i class="fas fa-share"></i>
                    <!-- <p>Share</p> -->
                </div>
            </section>
        </article>
    </div>
    <hr>
</div>